/* #design-area {
  background: url('../images/design-area-background.png');
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

html {
  height: 100%
}

body {
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

#header {
  height: 50px;
  background-color: rgb(42, 42, 42);
}

#footer {
  height: 20px;
  background-color: rgb(46, 114, 196)
}

#side {
  width: 200px;
  background-color: rgb(35, 35, 36);
}

#content {
  color: white;
  vertical-align: top;
  height: 100%;
  background-color: rgb(29, 29, 29);
  /* overflow: scroll; */
}

#splitter {
  width: 5px;
  cursor: ew-resize;
  background-color: rgb(29, 29, 29);
}
