* {
  margin: 0px
}

#toolbar {
  height: 50px;
  border: 0px solid rgb(100, 100, 100);
  box-sizing: border-box;
}

#designArea {
  width: 640px;
  height: 480px;
  background: url('../images/design-area-background.png');
  /*background-color: rgb(240, 240, 240); /* clBtnFace (Delphi's Form color) */
  border: 0px solid rgb(255, 0, 255);
  position: relative;
  box-sizing: border-box;
}

/*--------------------------------------*/

.resizers_ {
  left: 48px;
  top: 48px;
  width: 72px;
  height: 24px;
  position: absolute;
  /*border: 3px solid #4286f4;*/
  /* box-sizing: border-box; */
  background: rgba(179, 214, 243, .5);
  z-index: 100;
  visibility: hidden;
}

.resizers_ .resizer_{
  width: 8px;
  height: 8px;
  /*border-radius: 50%; /*magic to turn square into circle*/
  background: rgb(179, 214, 243);
  border: 1px solid rgb(0, 120, 215);
  position: absolute;
  z-index: 150;
}

.resizers_ .resizer_.top-left {
  left: -7px;
  top: -7px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizers_ .resizer_.top-middle {
  left: 50%;
  top: -7px;
  cursor: nwse-resize;
}
.resizers_ .resizer_.top-right {
  right: -7px;
  top: -7px;
  cursor: nesw-resize;
}
.resizers_ .resizer_.bottom-left {
  left: -7px;
  bottom: -7px;
  cursor: nesw-resize;
}
.resizers_ .resizer_.bottom-right {
  right: -7px;
  bottom: -7px;
  cursor: nwse-resize;
}
